
:root{
    --primary: #1d3557;
    --secondary: #457b9d;
    --light-bg: #f4f7fb;
    --white: #ffffff;
    --text: #333;
}

body{
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: white;
    color: var(--text);
}

.dashboard{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    width: 240px;
    background: var(--primary);
    color: white;
    padding: 20px;
    transition: 0.3s;
}

.sidebar.collapsed{
    width: 70px;
}

.logo{
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 18px;
}

.sidebar .nav-link{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.sidebar .nav-link:hover{
    background: var(--secondary);
}

.sidebar .active{
    background: #ffd166;
    color: black;
    font-weight: 600;
}

.sidebar .logout{
    margin-top: 30px;
    background: #c1121f;
    text-align: center;
}

.main{
    flex: 1;
    display: flex;
    flex-direction: column;
}


.topbar{
    background: var(--white);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.menu-btn{
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

.dark-btn{
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
    margin-right: 15px;
}

.user-name{
    font-weight: 600;
}


.content{
    padding: 25px;
}


@media (max-width: 992px){

    .sidebar{
        width: 200px;
    }

}

@media (max-width: 768px){

    .dashboard{
        flex-direction: column;
    }

    .sidebar{
        position: fixed;
        left: -240px;
        top: 0;
        height: 100%;
        z-index: 1000;
        width: 100%;
        flex-direction: row;
        overflow-x: auto;
    }
    .sidebar.show{
        left: 0;
    }
    .sidebar .nav-link{
        margin-right: 10px;
        margin-bottom: 0;
        white-space: nowrap;
    }

    .sidebar-logo{
        display: none;
    }

}
.profile-card {
    max-width: 100;
    margin: 40px;
    padding: 25px 30px;
    background: linear-gradient(145deg, #6a11cb, #2575fc);
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.4);
}

.profile-card h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.profile-info p {
    font-size: 16px;
    margin: 8px 0;
    line-height: 1.5;
}

.profile-info strong {
    color: #ffd700; /* gold color highlight */
}