{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">

    <!-- Heading -->
    <h2 class="section-title mb-3">Add Classroom</h2>

    <!-- Form -->
    <form method="POST" class="form-card p-4 shadow-sm rounded bg-light">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Name:</label>
            <input type="text" name="name" class="form-input">
        </div>

        <div class="mb-3">
            <label class="form-label">Stream:</label>
            <input type="text" name="stream" class="form-input">
        </div>

        <button type="submit" class="btn btn-success">Save</button>
    </form>

</div>
{% endblock %}
