{% extends 'base.html' %}

{% block content %}
<div class="container">

    <h2 class="section-title ">Teacher Subjects</h2>

    
    
    <a href="{% url 'add_teacher_subject' %}" class="btn btn-primary mb-3">Assign Subject</a>

    <div class="table-responsive">
        <table class="table ">
            <thead >
                <tr>
                    <th>Teacher</th>
                    <th>Subject</th>
                    <th>Class</th>
                </tr>
            </thead>
            <tbody>
                {% for t in data %}
                <tr>
                    <td>
                    <a href=" {% url 'teacher_detail' t.teacher.id %}">
                    {{ t.teacher }}
                    </a></td>
                    <td>{{ t.subject.name }}</td>
                    <td>{{ t.classroom.name }} - {{ t.classroom.stream }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center text-muted">No subjects assigned</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
