{% extends "base.html" %}

{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="row">

<div class="col-md-4">
    <div class="card p-3 mb-3"  id="card">
        <h5>Subjects</h5>
        <p>{{ subjects|length }} subjects assigned</p>
    </div>
</div>

<div class="col-md-4">
    <div class="card p-3 mb-3"  id="card1">
        <h5>Assignments</h5>
        <p>{{ assignments|length }} assignments available</p>
    </div>
</div>

<div class="col-md-4">
    <div class="card p-3 mb-3"  id="card2">
        <h5>Results</h5>
        <p>{{ results|length }} results available</p>
    </div>
</div>

</div>

<hr>

            <h3 class="section-title">My Subjects</h3>
            <table class="table" border="1" cellpadding="10" cellspacing="0" color="blue">
                <thead>
                    <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>classroom</th>
                    <tr>
                </thead>
                {% for ts in teacher_subjects %}    
                 <tbody>
                    <tr>
                        <td>{{ forloop.counter}}</td>
                        <td>{{ ts.subject.name }}</td>
                        <td>{{ ts.subject.code }}</td>
                        <td>{{ ts.classroom.name }}</td>
                    </tr>
                 </tbody>
                {% empty %}
                    <li>No subjects assigned yet.</li>
                {% endfor %}
                </table>
       
<h3>Student Assignments</h3>

<table class="table">
<tr>
<th>Title</th>
<th>Class</th>
<th>Due Date</th>
<th>Actions</th>
</tr>

{% for assignment in assignments %}
<tr>
<td>{{ assignment.title }}</td>
<td>{{ assignment.class_room }}</td>
<td>{{ assignment.due_date }}</td>

<td class="bt">
<a href="{% url 'edit_assignment' assignment.id %}" class="btn btn-warning btn-sm">Edit</a>
<a href="{% url 'delete_assignment' assignment.id %}" class="btn btn-danger btn-sm">Delete</a>
</td>

</tr>
{% endfor %}

</table>

  <hr>

       <h3>Student Results</h3>

     <table class="table">

       <tr>
          <th>Student</th>
          <th>Subject</th>
          <th>Marks</th>
          <th>Actions</th>
        </tr>

     {% for result in results %}

       <tr>

       <td>{{ result.student }}</td>
       <td>{{ result.subject }}</td>
       <td>{{ result.marks }}</td>

       <td class="bt">
        <a href="{% url 'edit_result' result.id %}" class="btn btn-warning btn-sm">Edit</a>
        <a href="{% url 'delete_result' result.id %}" class="btn btn-danger btn-sm">Delete</a>
        </td>

     </tr>

{% endfor %}

</table>
{% endblock %}
